# Binaries
*.os
*.o
*.o.tmp
*.dblite

.DS_Store
.vscode

demo/addons
*.code-workspace
bin/addons/godot_tts/bin/libgodot_tts.macos.template_release.double.universal.framework/libgodot_tts.macos.template_release.double.universal
bin/addons/godot_tts/bin/libgodot_tts.macos.template_release.universal.framework/libgodot_tts.macos.template_release.universal
bin/addons/godot_tts/models
bin/addons/godot_tts/bin/libgodot_tts.macos.template_release.universal.framework/libgodot_tts.macos.template_release.universal
thirdparty/SummerTTS/src/tn/openfst/src/lib/compat.windows.template_debug.dev.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/compat.windows.template_debug.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/flags.windows.template_debug.dev.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/flags.windows.template_debug.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/fst.windows.template_debug.dev.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/fst.windows.template_debug.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/fst-types.windows.template_debug.dev.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/fst-types.windows.template_debug.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/mapped-file.windows.template_debug.dev.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/mapped-file.windows.template_debug.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/properties.windows.template_debug.dev.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/properties.windows.template_debug.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/symbol-table.windows.template_debug.dev.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/symbol-table.windows.template_debug.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/symbol-table-ops.windows.template_debug.dev.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/symbol-table-ops.windows.template_debug.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/util.windows.template_debug.dev.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/util.windows.template_debug.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/weight.windows.template_debug.dev.x86_64.obj
thirdparty/SummerTTS/src/tn/openfst/src/lib/weight.windows.template_debug.x86_64.obj
